body {
    background-color: #74a4bc;
}

h1 {
    margin-top: 5%;
}

form,
#caja {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 65%;
    background-color: #b6d6cc;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid #29339bab;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    flex-direction: column;
    height: 320px;
}

form input {
    padding: 1.5%;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    border: none;
}

button {
    background-color: #29339B;
    display: inline-block;
    border: none;
    padding: 10px;
    margin: 20px auto;
    margin-top: 5%;
    width: 170px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
}

button:hover {
    background-color: #29339ba1;
    cursor: pointer;
}

.error {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    margin: 1%;
    padding-bottom: 1%;
}

img {
    margin-top: 5%;
    width: 15%;
}

h3 {
    font-family: 'Bungee Spice', cursive;
    font-size: 200%;
    line-height: 1px;
    text-align: center;
}

@media (max-width: 767px) {

    form,
    #caja {
        margin: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 90%;
        height: auto;
        padding-bottom: 5%;
    }

    h1 {
        font-size: 180%;
        margin-top: 20%;
        padding: 2%;
    }

    #respuesta {
        margin-top: 8%;
        padding: 3%;
    }

    button {
        margin-top: 15%;
    }

    img {
        width: 30%;
    }

    h3 {
        font-size: 150%;
    }
    
    .error{
        padding-bottom: 5%;
    }
}