body{
    background-color: #74a4bc;
}

h1{
    margin-top: 5%;
}

form, #caja{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 65%;
    background-color: #b6d6cc;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid #29339bab;
    text-align: center;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    height: 320px;
}

form input{
    padding: 1.5%;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    border: none;
}

button{
    background-color:#29339B;
    display: inline-block;
    border: none;
    padding: 10px;
    margin: 20px auto;
    margin-top: 5%;
    width: 170px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
}

button:hover{
    background-color: #29339ba1;
    cursor: pointer;
}

.error {
    color: red;
    font-family:'Courier New', Courier, monospace;
    font-size: 100%;
    margin: 1%;
    padding-bottom: 1%;
}

img{
    margin-top: 5%;
    margin-left: 42%;
    width: 15%;
}

h3{
    font-family: 'Bungee Spice', cursive;
    font-size: 200%;
    line-height: 1px;
    text-align: center;
}
